/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    text-align: center;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 20px;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

p {
    margin: 10px 0;
    font-size: 18px;
}

#myChoiceDisplay, #ComputerChoiceDisplay, #resultDisplay {
    font-weight: bold;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 90%;
    }
    
    button {
        font-size: 14px;
    }
}
